/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Header section */

header {
  background: url('../assets/main_background.jpg') no-repeat bottom;
  height: 550px;
}

div.navigation {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
  font-weight: 50;
}

.navbar-menu {
  margin: auto;
  width: 72.5%;
  margin-top: 85px;
  margin-bottom: 50px;
  padding-left: 5px;
  background: linear-gradient(0.5turn, #6e6e6e, #413f3f, #6e6e6e);
  border-radius: 5px;
}

.navbar span:last-child {
  padding: 0 30px 0 30px;
  border-right: unset;
}

li:last-child:hover {
  background: unset;
  cursor: default;
}

.navbar li {
  display: inline-block;
}

li {
  padding: 5px 0 10px 0;
  font-size: small;
}

li:hover {
  background: #6e6e6e;
  background: linear-gradient(#000, #6e6e6e);
  cursor: pointer;
}

input[type="text"] {
  background-color: transparent;
  width: 150px;
  border-radius: 15px;
}

input[type="text"]:focus {
  background-color: white;
  padding-left: 30px;
}

li img {
  padding-top: 5px;
  width: 16px;
}

.nav-details {
  text-align: center;
  margin: auto;
  width: 60%;
  margin-bottom: 60px;
  cursor: pointer;
}

.nav-header {
  padding: 2px 0 40px 0;
  font-size: 3.5em;
}

.sub-header {
  font-size: 1.8em;
  padding: 0 20px 40px 0;
}

.sub-header a {
  color: white;
  font-size: 0.8em;
}

a:hover {
  text-decoration: underline;
}

/* Main section */

main {
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2px;
}

img.promo-item {
  width: 100%;
}

/* Footer section */

footer {
  margin: auto;
  margin: 20px 170px 0 170px;
  font-size: xx-small;
  color: #6e6e6e;
}

.address-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.after-address-nav {
  clear: both;
}

.copyright,
.address-nav {
  padding-bottom: 20px;
}
